<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
	<title>Travel Cookie</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/aboutus.css')}}">
</head>
<body>
    {% include 'navbar.html' %}
	<main>
		<section>
			<h2>Our Story</h2>
			<div class="color-bar"></div>
		<p>We are group of four belonging to Group No 5 of Section ISM6225,Distribution and Information systems. We collaborated to create a travel website called 'Travel Cookie'. In this website we wanted to create a user friendly interface that helps the travellers to find out best tourist attractive destinations in the world. Users can login to their accounts.Some travel tips are also listed to travellers. </p>
			<h2>The Team</h2>
			<div class="color-bar"></div>
			<ul class="featured-destinations">
				<li>
					<a href="https://www.linkedin.com/in/mohan-bathula/" target="_blank">
						<img src="{{ url_for('static', filename='images/Durga Mohan.jpg')}}" width="300" height="300">
						<h3>Durga Mohan Bathula</h3>
						<p>Worked on complete UI design, login page, javascript validation.</p>
					</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/in/arshad-mohammad-a1569410b/" target="_blank">
						<img src="{{ url_for('static', filename='images/Arshad.png')}}" width="300" height="300">
						<h3>Arshad Mohammad</h3>
						<p>Worked on organizing web pages in Flask by establishing a structured system.Creating a nav bar & enhancing its design with CSS.</p>
					</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/in/venkata-revanth-reddy-sana-198674249/" target="_blank">
						<img src="{{ url_for('static', filename='images/Revanth.JPG')}}" width="300" height="300">
						<h3>Revanth Reddy</h3>
						<p>Worked on design elements in all the pages and generating web pages</p>
					</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/in/manisai-pottumurthi-0407531b2" target="_blank">
						<img src="{{ url_for('static', filename='images/Mani Sai.jpeg')}}" width="300" height="300">
						<h3>Mani Sai</h3>
						<p>Worked on gathering images and the travel tips page. Added design elements to navbar and footer</p>
					</a>
				</li>
			</ul>
		</section>
		</main>
		{% include 'footer.html' %}
</body>
</html>
