<!DOCTYPE html>
<html>
    <head>
		<title>Bahnhofstrasse Zurich</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style_city.css')}}">
    </head>
<body>
	{% include 'navbar.html' %}
	<main>
		<div class="container">
			<p>Bahnhofstrasse is one of the most famous streets in Zurich, Switzerland. It is a popular destination for tourists and locals alike, known for its luxury shopping and historic landmarks. There are many things to see and do on Bahnhofstrasse, including:</p>
			<h2>Things to See and Do on Bahnhofstrasse</h2>
			<ul class="destinations">
				<li>
					<h2>Shop at Luxury Boutiques</h2>
					<p>Bahnhofstrasse is home to many high-end shops and boutiques, including luxury brands such as Gucci, Louis Vuitton, and Prada. Visitors can browse the latest fashion trends, purchase Swiss watches, and enjoy the beautiful window displays.</p>
					<img src="{{ url_for('static', filename='images/zurich_1.jpg')}}" alt="Bahnhofstrasse shopping" class="dest-img">
				</li>
				<li>
						<h2>Explore Historic Landmarks</h2>
						<p>Bahnhofstrasse is also home to several historic landmarks, including the Fraumünster Church and the Paradeplatz. Visitors can admire the stunning architecture of these buildings and learn about their history and significance.</p>
						<img src="{{ url_for('static', filename='images/zurich_2.jpg')}}" alt="Fraumünster Church" class="dest-img">
				</li>
				<li>
					<h2>Enjoy Swiss Cuisine</h2>
					<p>There are many restaurants and cafes on Bahnhofstrasse where visitors can enjoy traditional Swiss cuisine, including fondue and raclette. Visitors can also sample Swiss chocolate at one of the many chocolate shops on the street.</p>
					<img src="{{ url_for('static', filename='images/zurich_3.jpg')}}" alt="Swiss chocolate" class="dest-img">
				</li>
			</ul>
		</div>
	</main>
	{% include 'footer.html' %}
</body>
</html>