<!DOCTYPE html>
<html>
    <head>
		<title>Bangkok</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style_city.css')}}">
    </head>
<body>
    {% include 'navbar.html' %}
    <main>
        <div class="container">
            <p>Bangkok, the capital city of Thailand, is a vibrant and bustling metropolis that offers visitors a fascinating mix of ancient history, modern attractions, and unique culture. Some of the top things to see and do in Bangkok include:</p>
            <h2>Places to Visit in Bangkok</h2>
            <ul class="destinations">
                <li>
                    <a href="{{ url_for('grandpalace') }}"><h2>Grand Palace</h2></a>
                    <p>The Grand Palace is a stunning complex of buildings located in the heart of Bangkok. It was the official residence of the Kings of Thailand and is still used for official events and ceremonies. Visitors can explore the palace grounds and see the famous Temple of the Emerald Buddha.</p>
                    <img src="{{ url_for('static', filename='images/bangkok_grandpalace.jpg')}}" alt="Grand Palace" class="dest-img">
                </li>
                <li>
                    <a href="{{ url_for('watpho') }}"><h2>Wat Arun</h2></a>
                    <p>Wat Arun, also known as the Temple of Dawn, is a beautiful Buddhist temple located on the west bank of the Chao Phraya River. It is famous for its stunning architecture and intricate details, and is a popular spot to watch the sunset over the river.</p>
                    <img src="{{ url_for('static', filename='images/bangkok_watarun.jpg')}}" alt="Wat Arun" class="dest-img">
                </li>
                <li>
                    <a href="{{ url_for('chayuchak') }}"><h2>Chatuchak</h2></a>
                    <p>Chatuchak Weekend Market is one of the largest and most famous markets in the world, located in the northern part of Bangkok. It features over 15,000 stalls selling everything from clothing and accessories to home decor and souvenirs, and is a must-visit for any shopping enthusiast.</p>
                    <img src="{{ url_for('static', filename='images/bangkok_chatuchak.jpg')}}" alt="Chatuchak Weekend Market" class="dest-img">
                </li>
            </ul>
        </div>
    </main>
    {% include 'footer.html' %}
</body>
</html>