<!DOCTYPE html>
<html>
    <head>
        <title>Big Buddha - Phuket</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style_city.css')}}">
    </head>
    <body>
        {% include 'navbar.html' %}
        <main>
            <div class="container">
                <p>Big Buddha is one of the most popular tourist attractions in Phuket, Thailand. Located on the top of Nakkerd Hills, it is a giant statue of Buddha made of white marble. Visitors can enjoy panoramic views of the island from the top of the hill.</p>
                <h2>Things to See and Do at Big Buddha</h2>
                <ul class="destinations">
                    <li>
                        <h2>Visit the Big Buddha Statue</h2>
                        <p>The Big Buddha statue is the main attraction at the site. Visitors can admire its impressive size and the intricate carvings on the statue.</p>
                        <img src="{{ url_for('static', filename='images/big_buddha_1.jpg')}}" alt="Big Buddha Statue" class="dest-img">
                    </li>
                    <li>
                        <h2>Enjoy the Scenic Views</h2>
                        <p>The top of Nakkerd Hills offers breathtaking views of Phuket and the surrounding areas. Visitors can take a moment to relax and take in the beautiful scenery.</p>
                        <img src="{{ url_for('static', filename='images/big_buddha_2.jpg')}}" alt="Scenic Views" class="dest-img">
                    </li>
                    <li>
                        <h2>Learn About Buddhism</h2>
                        <p>The site also has several small temples and shrines where visitors can learn about Buddhism and its practices.</p>
                        <img src="{{ url_for('static', filename='images/big_buddha_3.jpg')}}" alt="Temples and Shrines" class="dest-img">
                    </li>
                </ul>
            </div>
        </main>
        {% include 'footer.html' %}
    </body>
</html>