<!DOCTYPE html>
<html>
    <head>
        <title>Chiang Mai</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="../style_city.css">
    </head>
    <body>
        <nav>
            <ul>
                <a href="../../index.html"><li class="logo"><img src="../../images/logo.jpg" width="50" height="50"><span>Travel</span> Cookie</li></a>
                <li><a href="../../index.html">Home</a></li>
                <li><a href="#">Destinations</a>
                    <ul class="dropdown-menu">
                        <li><a href="../Italy/Venice.html">Venice</a></li>
                        <li><a href="../Switzerland/Geneva.html">Geneva</a></li>
                        <li><a href="../Switzerland/intrerlaken.html">Intelaken</a></li>
                        <li><a href="../Thailand/PHUKET.html">Phuket</a></li>
                        <li><a href="../Thailand/CHAING_MAI.html">Chiang Mai</a></li>
                        <li><a href="../Thailand/BANGKOK.html">Bangkok</a></li>
                    </ul></li>
                <li><a href="../../traveltips.html">Travel Tips</a></li>
                <li><a href="../../aboutus.html">About Us</a></li>
                <li><a href="../../login.html">Login</a></li>
            </ul>
        </nav>
        <main>
            <div class="container">
                <p>Chiang Mai is a city located in northern Thailand, known for its rich culture, historic temples, and natural beauty. Here are some of the top things to see and do in Chiang Mai:</p>
                <h2>Places to Visit in Chiang Mai</h2>
                <ul class="destinations">
                    <li>
                        <a href="Doi Suthep.html"><h2>Doi Suthep</h2></a>
                        <p>Doi Suthep is a mountain located just outside of Chiang Mai, and is home to Wat Phra That Doi Suthep, a beautiful Buddhist temple. Visitors can climb the 300 steps to reach the temple, which offers stunning views of the city and surrounding mountains.</p>
                        <img src="../../images/chiang_mai_doi_suthep.jpg" alt="Doi Suthep" class="dest-img">
                    </li>
                    <li>
                        <a href="Night Bazaar.html"><h2>The Chiang Mai</h2></a>
                        <p>The Chiang Mai Night Bazaar is a bustling market that comes alive in the evening, selling everything from traditional Thai handicrafts to designer clothes. It's a great place to shop, eat and soak up the local culture.</p>
                        <img src="../../images/chiang_mai_night_bazaar.jpg" alt="Night Bazaar" class="dest-img">
                    </li>
                    <li>
                        <a href="ELEPHANT NATURE PARK.html"><h2>Elephant Nature Park</h2></a>
                        <p>The Elephant Nature Park is a sanctuary for rescued elephants, located about an hour outside of Chiang Mai. Visitors can spend the day interacting with the elephants, learning about their history and behavior, and even help feed them.</p>
                        <img src="../../images/chiang_mai_elephant_nature_park.jpg" alt="Elephant Nature Park" class="dest-img">
                    </li>
                </ul>
            </div>
        </main>
        <footer>
            <div class="footer-content">
                <h3 style="color: #f9b537;">ISM6225</h3>
                <p>This Website has been created as a part of course project in ISM6225</p>
            </div>
            <div class="footer-bottom">
                <p>© 2023 Travel Cookie. All rights reserved.</p>
            </div>
    </footer>
    </body>
</html>