<!DOCTYPE html>
<html>
    <head>
		<title>Chayuchak Market Bangkok</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style_city.css')}}">
    </head>
<body>
	{% include 'navbar.html' %}
    <main>
        <div class="container">
            <p>Chayuchak Market, also known as the JJ Market, is the largest weekend market in Bangkok, Thailand. It is a must-visit destination for anyone who wants to experience the vibrant culture and diverse shopping scene in Bangkok. Here are some of the top things to see and do at Chayuchak Market:</p>
            <h2>Places to Visit in Chayuchak Market</h2>
            <ul class="destinations">
                <li>
                    <h2>Food Stalls and Restaurants</h2>
                    <p>Chayuchak Market is a food lover's paradise with a vast selection of local street food and international cuisine available. From spicy papaya salad to grilled meats and seafood, visitors can indulge in a wide range of delicious dishes. There are also plenty of restaurants serving traditional Thai cuisine and other international dishes.</p>
                    <img src="{{ url_for('static', filename='images/chayuchak_market_food.jpg')}}" alt="Food Stalls and Restaurants" class="dest-img">
                </li>
                <li>
                    <h2>Shopping</h2>
                    <p>Chayuchak Market has over 15,000 stalls selling everything from clothing and accessories to souvenirs and antiques. Visitors can bargain with vendors to get the best prices on unique items such as handcrafted jewelry, vintage clothing, and traditional Thai crafts. The market is a great place to find souvenirs and gifts for friends and family back home.</p>
                    <img src="{{ url_for('static', filename='images/chayuchak_market_shopping.jpg')}}" alt="Shopping" class="dest-img">
                </li>
                <li>
                    <h2>Entertainment</h2>
                    <p>There are many forms of entertainment available at Chayuchak Market, including live music, street performances, and even a petting zoo. Visitors can relax and enjoy the atmosphere while listening to traditional Thai music or watching dancers perform. There are also several bars and cafes where visitors can grab a drink and socialize with friends.</p>
                    <img src="{{ url_for('static', filename='images/chayuchak_market_entertainment.jpg')}}" alt="Entertainment" class="dest-img">
                </li>
            </ul>
        </div>
    </main>
	{% include 'footer.html' %}
</body>
</html>