<!DOCTYPE html>
<html>
    <head>
		<title>Chocolaterie Stettler</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="../style_city.css">
    </head>
<body>
	<nav>
		<ul>
			<a href="../../index.html"><li class="logo"><img src="../../images/logo.jpg" width="50" height="50"><span>Travel</span> Cookie</li></a>
			<li><a href="../../index.html">Home</a></li>
			<li><a href="#">Destinations</a>
				<ul class="dropdown-menu">
					<li><a href="../Italy/Venice.html">Venice</a></li>
					<li><a href="../Switzerland/Geneva.html">Geneva</a></li>
					<li><a href="../Switzerland/intrerlaken.html">Intelaken</a></li>
					<li><a href="../Thailand/PHUKET.html">Phuket</a></li>
					<li><a href="../Thailand/CHAING_MAI.html">Chiang Mai</a></li>
					<li><a href="../Thailand/BANGKOK.html">Bangkok</a></li>
				</ul></li>
			<li><a href="../../traveltips.html">Travel Tips</a></li>
			<li><a href="../../aboutus.html">About Us</a></li>
			<li><a href="../../login.html">Login</a></li>
		</ul>
	</nav>
	<main>
		<div class="container">
			<p>Chocolaterie Stettler is a famous chocolate shop located in Interlaken, Switzerland. The shop is known for its high-quality Swiss chocolate and wide selection of chocolate products. Visitors to Chocolaterie Stettler can enjoy many different chocolate treats and learn about the history of Swiss chocolate-making. Some of the things to see and do at Chocolaterie Stettler include:</p>
			<h2>Things to See and Do at Chocolaterie Stettler</h2>
			<ul class="destinations">
				<li>
					<h2>Try Different Flavors of Swiss Chocolate</h2>
					<p>Chocolaterie Stettler offers a wide range of chocolate flavors, including milk chocolate, dark chocolate, and white chocolate. Visitors can sample different flavors and choose their favorite to take home as a souvenir.</p>
					<img src="../../images/interlaken_1.jpg" alt="Chocolaterie Stettler chocolates" class="dest-img">
				</li>
				<li>
					<h2>Watch the Chocolate-Making Process</h2>
					<p>Visitors to Chocolaterie Stettler can watch the chocolate-making process and learn about the steps involved in creating high-quality Swiss chocolate. The shop also offers workshops where visitors can make their own chocolate treats.</p>
					<img src="../../images/interlaken_2.jpg" alt="Chocolate-making process" class="dest-img">
				</li>
				<li>
					<h2>Shop for Chocolate Souvenirs</h2>
					<p>Chocolaterie Stettler offers a wide range of chocolate products, including chocolate bars, truffles, and gift boxes. Visitors can purchase chocolate souvenirs to take home for themselves or as gifts for friends and family.</p>
					<img src="../../images/interlaken_3.jpg" alt="Chocolaterie Stettler shop" class="dest-img">
				</li>
			</ul>
		</div>
	</main>
	
	<footer>
		<div class="footer-content">
			<h3 style="color: #f9b537;">ISM6225</h3>
			<p>This Website has been created as a part of course project in ISM6225</p>
		</div>
		<div class="footer-bottom">
			<p>© 2023 Travel Cookie. All rights reserved.</p>
		</div>
</footer>
</body>
</html>