<!DOCTYPE html>
<html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
		<title>The Colosseum Rome</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style_city.css')}}">
    </head>
<body>

	{% include 'navbar.html' %}

	<main>
		<div class="container">
			<p>The Colosseum, also known as the Flavian Amphitheatre, is an iconic symbol of ancient Rome. Built nearly 2000 years ago, the Colosseum is the largest amphitheatre in the world, and it was the site of many famous gladiatorial games and other public spectacles. Here's what you need to know about visiting the Colosseum:</p>
			<h2>Things to Know Before Visiting The Colosseum</h2>
			<ul class="destinations">
				<li>
					<h2>Book Your Tickets in Advance</h2>
					<p>The Colosseum is one of the most popular tourist attractions in Rome, and tickets often sell out well in advance. It is recommended that you book your tickets as early as possible to ensure availability. You can purchase tickets online or at the Colosseum ticket office.</p>
					<img src="{{ url_for('static', filename='images/colosseum_1.jpg')}}" alt="The Colosseum" class="dest-img">
				</li>
				<li>
					<h2>Take a Guided Tour</h2>
					<p>A guided tour of the Colosseum is a great way to learn about the history and significance of this ancient monument. Many tour companies offer guided tours that include skip-the-line access, so you can avoid the long lines and make the most of your visit.</p>
					<img src="{{ url_for('static', filename='images/colosseum_2.jpg')}}" alt="The Colosseum guided tour" class="dest-img">
				</li>
				<li>
					<h2>Explore the Surrounding Area</h2>
					<p>The Colosseum is located in the heart of Rome, and there are many other historic sites and attractions to explore in the surrounding area. You can visit the nearby Roman Forum and Palatine Hill, or explore the streets of ancient Rome.</p>
					<img src="{{ url_for('static', filename='images/colosseum_3.jpg')}}" alt="The Colosseum surrounding area" class="dest-img">
				</li>
			</ul>
		</div>
	</main>
{% include 'footer.html' %}
</body>
</html>