<!DOCTYPE html>
<html>
    <head>
		<title>Doge's Palace</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style_city.css')}}">
    </head>
<body>
	{% include 'navbar.html' %}
	<main>
		<div class="container">
			<p>Doge's Palace, also known as the Palazzo Ducale, is a historic palace in Venice, Italy. Built in the Venetian Gothic style, the palace was the residence of the Doge of Venice, the chief magistrate of the former Republic of Venice. Today, it is a popular tourist attraction and museum, offering visitors a glimpse into the history and culture of Venice.</p>
			<h2>Things to See and Do at Doge's Palace</h2>
			<ul class="destinations">
				<li>
					<h2>Explore the Palace</h2>
					<p>Visitors can explore the many rooms and halls of the Doge's Palace, including the grandiose Sala del Maggior Consiglio (Hall of the Great Council), which was the largest hall in Europe at the time of its construction. Other notable rooms include the Sala del Senato (Senate Hall) and the Sala del Collegio (College Hall).</p>
					<img src="{{ url_for('static', filename='images/doge_1.jpg')}}" alt="Doge's Palace interior" class="dest-img">
				</li>
				<li>
					<h2>Cross the Bridge of Sighs</h2>
					<p>The Bridge of Sighs connects the Doge's Palace to the adjacent prison. Legend has it that the bridge is named after the sighs of prisoners who, upon crossing the bridge, caught their last glimpse of Venice before being imprisoned.</p>
					<img src="{{ url_for('static', filename='images/doge_2.jpg')}}" alt="Bridge of Sighs" class="dest-img">
				
                </li>
				<li>
					<h2>Visit the Armory and Prisons</h2>
					<p>The palace also houses an extensive armory, featuring weapons and armor from the medieval and Renaissance periods. Visitors can also tour the palace's prisons, which were notoriously overcrowded and inhumane.</p>
					<img src="{{ url_for('static', filename='images/doge_3.jpg')}}" alt="Doge's Palace prisons" class="dest-img">
				</li>
			</ul>
		</div>
	</main>
	{% include 'footer.html' %}
</body>
</html>