<!DOCTYPE html>
<html>
    <head>
        <title>Doi Suthep - Chiang Mai, Thailand</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style_city.css')}}">
    </head>
    <body>
        {% include 'navbar.html' %}
        <main>
            <div class="container">
                <p>Doi Suthep is a mountain located in Chiang Mai, northern Thailand. It is a popular destination for both locals and tourists, known for its stunning views, beautiful temples, and lush greenery. Here are some of the things to see and do in Doi Suthep:</p>
                <h2>Things to See and Do in Doi Suthep</h2>
                <ul class="destinations">
                    <li>
                        <h2>Visit Wat Phra That Doi Suthep</h2>
                        <p>Wat Phra That Doi Suthep is a Buddhist temple located near the summit of Doi Suthep. It is one of the most important temples in northern Thailand, known for its beautiful architecture and stunning views of Chiang Mai. Visitors can climb the 309 steps to the temple and admire its golden pagodas and intricate carvings.</p>
                        <img src="{{ url_for('static', filename='images/doi_suthep_1.jpg')}}" alt="Wat Phra That Doi Suthep" class="dest-img">
                    </li>
                    <li>
                        <h2>Take a Hike in the National Park</h2>
                        <p>Doi Suthep National Park offers a range of hiking trails, from easy walks to challenging treks. Visitors can explore the park's lush forests, waterfalls, and wildlife, and enjoy panoramic views of the surrounding mountains and valleys.</p>
                        <img src="{{ url_for('static', filename='images/doi_suthep_2.jpg')}}" alt="Hiking in Doi Suthep National Park" class="dest-img">
                    </li>
                    <li>
                        <h2>Experience Hill Tribe Culture</h2>
                        <p>The hill tribes of northern Thailand have a rich culture and way of life. Visitors to Doi Suthep can take a tour of a hill tribe village and learn about their traditions, food, and crafts. The tours are led by local guides who can provide insight into the history and culture of the tribes.</p>
                        <img src="{{ url_for('static', filename='images/doi_suthep_3.jpg')}}" alt="Hill Tribe Village in Doi Suthep" class="dest-img">
                    </li>
                </ul>
            </div>
        </main>
        {% include 'footer.html' %}
    </body>
</html>