<!DOCTYPE html>
<html>
    <head>
		<title>Milan</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="../style_city.css">
    </head>
<body>
	<nav>
		<ul>
			<a href="../../index.html"><li class="logo"><img src="../../images/logo.jpg" width="50" height="50"><span>Travel</span> Cookie</li></a>
			<li><a href="../../index.html">Home</a></li>
			<li><a href="#">Destinations</a>
				<ul class="dropdown-menu">
					<li><a href="../Italy/Venice.html">Venice</a></li>
					<li><a href="../Switzerland/Geneva.html">Geneva</a></li>
					<li><a href="../Switzerland/intrerlaken.html">Intelaken</a></li>
					<li><a href="../Thailand/PHUKET.html">Phuket</a></li>
					<li><a href="../Thailand/CHAING_MAI.html">Chiang Mai</a></li>
					<li><a href="../Thailand/BANGKOK.html">Bangkok</a></li>
				</ul></li>
			<li><a href="../../traveltips.html">Travel Tips</a></li>
			<li><a href="../../aboutus.html">About Us</a></li>
			<li><a href="../../login.html">Login</a></li>
		</ul>
	</nav>
	<main>
		<div class="container">
			<p>The Milan Cathedral, also known as the Duomo di Milano, is a magnificent church in the heart of Milan. The cathedral is one of the largest churches in the world, and it is considered a masterpiece of Gothic architecture. There are many reasons to visit the Milan Cathedral, including:</p>
			<h2>Things to See and Do at the Milan Cathedral</h2>
			<ul class="destinations">
				<li>
					<h2>Take a Tour of the Cathedral</h2>
					<p>The Milan Cathedral is a stunning architectural masterpiece, and taking a tour of the church is a great way to learn about its history and significance. Visitors can take a guided tour of the cathedral, or they can explore on their own.</p>
					<img src="../../images/duomo_1.jpg" alt="Milan Cathedral" class="dest-img">
				</li>
				<li>
					<h2>Climb to the Top of the Cathedral</h2>
					<p>One of the most popular things to do at the Milan Cathedral is to climb to the top of the church. Visitors can take an elevator or climb the stairs to the roof of the cathedral, where they can enjoy panoramic views of Milan.</p>
					<img src="../../images/duomo_2.jpg" alt="Milan Cathedral roof" class="dest-img">
				
                </li>
				<li>
					<h2>Visit the Museum</h2>
					<p>The Milan Cathedral Museum is located inside the cathedral, and it houses a collection of artifacts and artwork related to the history of the church. Visitors can see paintings, sculptures, and other artifacts, and they can learn about the history and significance of the cathedral.</p>
					<img src="../../images/duomo_3.jpg" alt="Milan Cathedral Museum" class="dest-img">
				</li>
			</ul>
		</div>
	</main>
	<footer>
		<div class="footer-content">
			<h3 style="color: #f9b537;">ISM6225</h3>
			<p>This Website has been created as a part of course project in ISM6225</p>
		</div>
		<div class="footer-bottom">
			<p>© 2023 Travel Cookie. All rights reserved.</p>
		</div>
</footer>
</body>
</html>
