<!DOCTYPE html>
<html>
    <head>
        <title>Elephant Nature Park - Chiang Mai</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style_city.css')}}">
    </head>
    <body>
        {% include 'navbar.html' %}
        <main>
            <div class="container">
                <p>Elephant Nature Park is a sanctuary for elephants located in Chiang Mai, Thailand. Founded in the 1990s, the park is home to dozens of rescued elephants who are free to roam and live in a natural environment. Visitors can learn about these majestic creatures and the conservation efforts to protect them.</p>
                <h2>Things to See and Do at Elephant Nature Park</h2>
                <ul class="destinations">
                    <li>
                        <h3>Observe the Elephants</h3>
                        <p>Visitors can observe the elephants in their natural habitat as they roam, play, and socialize with each other. They can also feed them and even bathe them in the river.</p>
                        <img src="{{ url_for('static', filename='images/elephant_nature_park_1.jpg')}}" alt="Elephants at Elephant Nature Park" class="dest-img">
                    </li>
                    <li>
                        <h3>Learn About Elephant Conservation</h3>
                        <p>The park is dedicated to elephant conservation and visitors can learn about the challenges faced by these animals in Thailand and around the world. They can also learn about the work being done to protect them and their habitats.</p>
                        <img src="{{ url_for('static', filename='images/elephant_nature_park_2.jpg')}}" alt="Elephant Conservation" class="dest-img">
                    </li>
                    <li>
                        <h3>Volunteer at the Park</h3>
                        <p>For those who want to get more involved, the park offers volunteer opportunities where visitors can help with the care of the elephants and other animals at the sanctuary.</p>
                        <img src="{{ url_for('static', filename='images/elephant_nature_park_3.jpg')}}" alt="Volunteer at Elephant Nature Park" class="dest-img">
                    </li>
                </ul>
            </div>
        </main>
        {% include 'footer.html' %}
    </body>
</html>