<!DOCTYPE html>

<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">

<title>Travel Cookie</title>

 <meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css')}}">

</head>

<body>

<footer>

<div class="footer-content">

 <h3 style="color: #f9b537;">ISM6225</h3>

<p>This Website has been created as a part of course project in ISM6225</p>

</div>

<div class="footer-bottom">

<p>© 2023 Travel Cookie. All rights reserved.</p>

</div>

</footer>

</body>