<!DOCTYPE html>
<html>
    <head>
		<title>Geneva</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style_city.css')}}">
    </head>
<body>
	{% include 'navbar.html' %}
    <main>
        <div class="container">
            <p>Geneva is a beautiful city located in Switzerland, known for its picturesque views of Lake Geneva, rich cultural history, and chocolate-making traditions. Some of the top things to see and do in Geneva include:</p>
            <h2>Places to Visit in Geneva</h2>
            <ul class="destinations">
                <li>
                    <a href="{{ url_for('jetedau') }}"><h2>Jet d'Eau</h2></a>
                    <p>Jet d'Eau is a famous landmark in Geneva, located in Lake Geneva. It is a large fountain that shoots water up to 140 meters in the air, and is a must-see attraction when visiting the city.</p>
                    <img src="{{ url_for('static', filename='images/geneva_jetdeau.jpg')}}" alt="Jet d'Eau" class="dest-img">
                </li>
                <li>
                    <a href="{{ url_for('old_town') }}"><h2>Old Town</h2></a>
                    <p>The Old Town of Geneva is a charming area of the city that is home to many historic buildings, museums, and art galleries. It is a great place to take a stroll and explore the city's rich cultural heritage.</p>
                    <img src="{{ url_for('static', filename='images/geneva_oldtown.jpg')}}" alt="Old Town" class="dest-img">
                </li>
                <li>
                    <a href="{{ url_for('CHOCOLATERIE') }}"><h2>Chocolaterie Stettler</h2></a>
                    <p>Chocolaterie Stettler is a popular chocolate shop in Geneva that has been making delicious chocolates for over 60 years. Visitors can sample a variety of chocolate treats and learn about the chocolate-making process.</p>
                    <img src="{{ url_for('static', filename='images/geneva_chocolates.jpg')}}" alt="Chocolaterie Stettler" class="dest-img">
                </li>
            </ul>
        </div>
    </main>
    {% include 'footer.html' %}
</body>
</html>