<!DOCTYPE html>
<html>
	<head>
		<title>Grand Palace Bangkok</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style_city.css')}}">
	</head>
	<body>
		{% include 'navbar.html' %}
		<main>
			<div class="container">
				<p>The Grand Palace Bangkok is a historic landmark and one of the most popular tourist destinations in Thailand. It was built in 1782 and served as the residence of the Thai king for over 150 years. Today, it is used for ceremonial purposes and is open to the public as a museum.</p>
				<h2>Things to See and Do at the Grand Palace Bangkok</h2>
				<ul class="destinations">
					<li>
						<h2>History of the Grand Palace Bangkok</h2>
						<p>Learn about the history of the Grand Palace Bangkok, including its construction and its role as the center of Thai royal and political life for centuries. Explore the palace's architectural features, including the stunning gold-plated pagodas and intricate murals.</p>
						<img src="{{ url_for('static', filename='images/grandpalace_bangkok_history.jpg')}}" alt="History of the Grand Palace Bangkok" class="dest-img">
					</li>
					<li>
						<h2>Temple of the Emerald Buddha</h2>
						<p>The Temple of the Emerald Buddha, or Wat Phra Kaew, is located within the Grand Palace Bangkok complex. It houses the famous Emerald Buddha statue, which is made of jade and is considered to be the most sacred Buddhist artifact in Thailand. Visitors can explore the temple's intricate architecture and learn about its religious significance.</p>
						<img src="{{ url_for('static', filename='images/grandpalace_bangkok_temple.jpg')}}" alt="Temple of the Emerald Buddha" class="dest-img">
					</li>
					<li>
						<h2>Grand Palace Bangkok Museum</h2>
						<p>The Grand Palace Bangkok Museum is located within the palace complex and houses a collection of artifacts and exhibits related to the palace's history and Thai culture. Visitors can learn about the royal family, see the king's throne room, and view traditional Thai clothing and jewelry.</p>
						<img src="{{ url_for('static', filename='images/grandpalace_bangkok_museum.jpg')}}" alt="Grand Palace Bangkok Museum" class="dest-img">
					</li>
				</ul>
			</div>
		</main>
		{% include 'footer.html' %}
	</body>
</html>