<!DOCTYPE html>
<html>
    <head>
		<title>Grossmünster Zurich</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style_city.css')}}">
    </head>
<body>
	{% include 'navbar.html' %}
	<main>
		<div class="container">
			<p>The Grossmünster is a historic Protestant church in Zurich, Switzerland. According to legend, the church was founded by Charlemagne in the 8th century. The church has been rebuilt several times over the centuries, and it is now a popular tourist destination in Zurich. There are many things to see and do at the Grossmünster, including:</p>
			<h2>Things to See and Do at the Grossmünster</h2>
			<ul class="destinations">
				<li>
					<h2>Explore the Church</h2>
					<p>The Grossmünster is an impressive church with a long history. Visitors can explore the church's interior, which features beautiful stained glass windows and a crypt with Romanesque columns. The church is also home to an impressive organ that was built in 1960.</p>
					<img src="{{ url_for('static', filename='images/grossmunster_1.jpg')}}" alt="Grossmünster Zurich" class="dest-img">
				</li>
				<li>
					<h2>Climb the Tower</h2>
					<p>The Grossmünster tower offers stunning views of Zurich and the surrounding area. Visitors can climb the 187 steps to the top of the tower and enjoy panoramic views of the city and the lake. On a clear day, visitors can even see the Swiss Alps in the distance.</p>
					<img src="{{ url_for('static', filename='images/grossmunster_2.jpg')}}" alt="Grossmünster tower" class="dest-img">
				</li>
				<li>
					<h2>Visit the Reformation Museum</h2>
					<p>The Grossmünster is closely associated with the Protestant Reformation, and the church's Reformation Museum tells the story of the movement and its impact on Switzerland. Visitors can see original documents and artifacts from the Reformation era, including books, paintings, and sculptures.</p>
					<img src="{{ url_for('static', filename='images/grossmunster_3.jpg')}}" alt="Grossmünster Reformation Museum" class="dest-img">
				</li>
			</ul>
		</div>
	</main>
	{% include 'footer.html' %}
</body>
</html>