<!DOCTYPE html>
<html>
    <head>
		<title>Interlaken</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style_city.css')}}">
    </head>
<body>
	{% include 'navbar.html' %}
    <main>
        <div class="container">
            <p>Interlaken is a beautiful town located in the heart of Switzerland, known for its stunning mountain views and outdoor activities. Some of the top things to see and do in Interlaken include:</p>
            <h2>Places to Visit in Interlaken</h2>
            <ul class="destinations">
                <li>
                    <a href="{{ url_for('Jungfraujoch') }}"><h2>Jungfraujoch</h2></a>
                    <p>Jungfraujoch is the highest railway station in Europe, located at an altitude of 3454 meters. Visitors can take a train up to the station and enjoy stunning views of the surrounding mountains and glaciers.</p>
                    <img src="{{ url_for('static', filename='images/interlaken_jungfraujoch.jpg')}}" alt="Jungfraujoch" class="dest-img">
                </li>
                <li>
                    <a href="{{ url_for('BRIENZ') }}"><h2>Lake Brienz</h2></a>
                    <p>Lake Brienz is a beautiful lake located near Interlaken. Visitors can take a boat tour of the lake and enjoy stunning views of the surrounding mountains and forests.</p>
                    <img src="{{ url_for('static', filename='images/interlaken_lakebrienz.jpg')}}" alt="Lake Brienz" class="dest-img">
                </li>
                <li>
                    <a href="{{ url_for('KULM') }}"><h2>Harder Kulm</h2></a>
                    <p>Harder Kulm is a mountain located near Interlaken that offers stunning panoramic views of the town and the surrounding mountains. Visitors can take a funicular up to the top of the mountain and enjoy the view from the observation deck.</p>
                    <img src="{{ url_for('static', filename='images/interlaken_harderkulm.jpg')}}" alt="Harder Kulm" class="dest-img">
                </li>
            </ul>
        </div>
    </main>
    <footer>
		<div class="footer-content">
			<h3 style="color: #f9b537;">ISM6225</h3>
			<p>This Website has been created as a part of course project in ISM6225</p>
		</div>
		<div class="footer-bottom">
			<p>© 2023 Travel Cookie. All rights reserved.</p>
		</div>
</footer>
</body>
</html>