<!DOCTYPE html>
<html>
<head>
	<title>Italy</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style_country.css')}}">
</head>
<body>
	{% include 'navbar.html' %}
		<main>
			<section>
				<h2>Popular Cities in Italy</h2>
				<div class="color-bar"></div>
				<ul class="featured-destinations">
					<li>
						<a href="{{ url_for('Rome') }}">
							<img src="{{ url_for('static', filename='images/rome_Card.jpg')}}" width="300" height="300">
							<h3>Rome</h3>
						</a>
					</li>
					<li>
						<a href="{{ url_for('Venice') }}">
							<img src="{{ url_for('static', filename='images/Venice_card.jpg')}}" width="300" height="300">
							<h3>Venice</h3>
						</a>
					</li>
					<li>
						<a href="{{ url_for('Milan') }}">
							<img src="{{ url_for('static', filename='images/milan_card.jpg')}}" width="300" height="300">
							<h3>Milan</h3>
						</a>
					</li>
				</ul>
			</section>
	</main>
	
	<br>		
	{% include 'footer.html' %}
</body>
</html>