<!DOCTYPE html>
<html>
    <head>
		<title>Jet d'Eau Geneva</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="../style_city.css">
    </head>
<body>
	<nav>
		<ul>
			<a href="../../index.html"><li class="logo"><img src="../../images/logo.jpg" width="50" height="50"><span>Travel</span> Cookie</li></a>
			<li><a href="../../index.html">Home</a></li>
			<li><a href="#">Destinations</a>
				<ul class="dropdown-menu">
					<li><a href="../Italy/Venice.html">Venice</a></li>
					<li><a href="../Switzerland/Geneva.html">Geneva</a></li>
					<li><a href="../Switzerland/intrerlaken.html">Intelaken</a></li>
					<li><a href="../Thailand/PHUKET.html">Phuket</a></li>
					<li><a href="../Thailand/CHAING_MAI.html">Chiang Mai</a></li>
					<li><a href="../Thailand/BANGKOK.html">Bangkok</a></li>
				</ul></li>
			<li><a href="../../traveltips.html">Travel Tips</a></li>
			<li><a href="../../aboutus.html">About Us</a></li>
			<li><a href="../../login.html">Login</a></li>
		</ul>
	</nav>
	<main>
		<div class="container">
			<p>Jet d'Eau is a famous landmark in Geneva, Switzerland. The fountain shoots water up to 140 meters high, making it one of the tallest fountains in the world. Here are some things you can do and see at Jet d'Eau:</p>
			<h2>Things to See and Do at Jet d'Eau</h2>
			<ul class="destinations">
				<li>
					<h2>Admire the Fountain</h2>
					<p>The main attraction of Jet d'Eau is, of course, the fountain itself. Watch as the water shoots up to incredible heights and creates a stunning display. The fountain is lit up at night, making for an even more impressive sight.</p>
					<img src="../../images/jetdeau_1.jpg" alt="Jet d'Eau Geneva" class="dest-img">
				</li>
				<li>
					<h2>Take a Boat Tour</h2>
					<p>You can get an up-close view of Jet d'Eau by taking a boat tour of Lake Geneva. Many boat tours pass by the fountain, giving you a unique perspective of the landmark from the water.</p>
					<img src="../../images/jetdeau_2.jpg" alt="Jet d'Eau boat tour" class="dest-img">
				</li>
				<li>
					<h2>Visit the Surrounding Park</h2>
					<p>Jet d'Eau is located in a beautiful park that's perfect for a leisurely stroll or a picnic. Enjoy the greenery and scenic views of Lake Geneva while taking a break from the hustle and bustle of the city.</p>
					<img src="../../images/jetdeau_3.jpg" alt="Jet d'Eau park" class="dest-img">
				</li>
			</ul>
		</div>
	</main>
	<footer>
		<div class="footer-content">
			<h3 style="color: #f9b537;">ISM6225</h3>
			<p>This Website has been created as a part of course project in ISM6225</p>
		</div>
		<div class="footer-bottom">
			<p>© 2023 Travel Cookie. All rights reserved.</p>
		</div>
</footer>
</body>
</html>