<!DOCTYPE html>
<html>
    <head>
        <title>Jungfraujoch - Top of Europe</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style_city.css')}}">
    </head>
    <body>
    {% include 'navbar.html' %}
        <main>
            <div class="container">
                <p>Jungfraujoch is a famous tourist destination located in the Bernese Alps, Switzerland. It is known for its stunning views of the surrounding mountains and glaciers, as well as its ice palace, snow fun park, and observatory. Visitors to Jungfraujoch can enjoy many different activities and attractions. Here are some of the things to see and do at Jungfraujoch:</p>
                <h2>Things to See and Do at Jungfraujoch</h2>
                <ul class="destinations">
                    <li>
                        <h2>Experience the Top of Europe</h2>
                        <p>Jungfraujoch is located at an altitude of 3,454 meters (11,332 feet) above sea level, making it the highest railway station in Europe. Visitors can take the Jungfrau Railway from Interlaken to Jungfraujoch and experience the breathtaking views of the surrounding mountains and glaciers.</p>
                        <img src="{{ url_for('static', filename='images/jungfraujoch_1.jpg')}}" alt="Jungfraujoch railway" class="dest-img">
                    </li>
                    <li>
                        <h2>Explore the Ice Palace</h2>
                        <p>The ice palace is a popular attraction at Jungfraujoch, where visitors can explore the frozen tunnels and admire the ice sculptures. The palace is carved out of the glacier and is a unique experience for visitors of all ages.</p>
                        <img src="{{ url_for('static', filename='images/jungfraujoch_2.jpg')}}" alt="Jungfraujoch ice palace" class="dest-img">
                    </li>
                    <li>
                        <h2>Visit the Snow Fun Park</h2>
                        <p>The snow fun park is a popular attraction for families and children. Visitors can enjoy a variety of snow-based activities, such as snow tubing, skiing, and snowboarding. There are also restaurants and cafes where visitors can warm up with a hot drink or a meal.</p>
                        <img src="{{ url_for('static', filename='images/jungfraujoch_3.jpg')}}" alt="Jungfraujoch snow fun park" class="dest-img">
                    </li>
                </ul>
            </div>
        </main>
    {% include 'footer.html' %}
    </body>
</html>

