<!DOCTYPE html>
<html>
    <head>
		<title>Lake Brienz Interlaken</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="../style_city.css">
    </head>
<body>
	<nav>
		<ul>
			<a href="../../index.html"><li class="logo"><img src="../../images/logo.jpg" width="50" height="50"><span>Travel</span> Cookie</li></a>
			<li><a href="../../index.html">Home</a></li>
			<li><a href="#">Destinations</a>
				<ul class="dropdown-menu">
					<li><a href="../Italy/Venice.html">Venice</a></li>
					<li><a href="../Switzerland/Geneva.html">Geneva</a></li>
					<li><a href="../Switzerland/intrerlaken.html">Intelaken</a></li>
					<li><a href="../Thailand/PHUKET.html">Phuket</a></li>
					<li><a href="../Thailand/CHAING_MAI.html">Chiang Mai</a></li>
					<li><a href="../Thailand/BANGKOK.html">Bangkok</a></li>
				</ul></li>
			<li><a href="../../traveltips.html">Travel Tips</a></li>
			<li><a href="../../aboutus.html">About Us</a></li>
			<li><a href="../../login.html">Login</a></li>
		</ul>
	</nav>
	<main>
		<div class="container">
			<p>Lake Brienz is a stunning lake located in Interlaken, Switzerland. The lake is known for its crystal-clear blue waters and breathtaking mountain views. Visitors to Lake Brienz can enjoy many different activities and attractions, including:</p>
			<h2>Things to See and Do at Lake Brienz</h2>
			<ul class="destinations">
				<li>
					<h2>Boat Tours</h2>
					<p>Visitors can take a boat tour on Lake Brienz to enjoy the stunning views of the surrounding mountains and countryside. There are several tour options available, including short tours and full-day tours.</p>
					<img src="../../images/lake_brienz_1.jpg" alt="Lake Brienz boat tour" class="dest-img">
				</li>
				<li>
					<h2>Hiking and Biking</h2>
					<p>The area around Lake Brienz is perfect for hiking and biking, with many scenic trails to choose from. Visitors can rent bikes or join a guided hike to explore the beautiful Swiss countryside.</p>
					<img src="../../images/lake_brienz_2.jpg" alt="Lake Brienz hiking trail" class="dest-img">
				</li>
				<li>
					<h2>Swimming and Water Sports</h2>
					<p>Lake Brienz is a great place for swimming and other water sports, with its clear waters and beautiful surroundings. Visitors can rent paddle boats or kayaks to explore the lake, or simply relax on the beach and soak up the sun.</p>
					<img src="../../images/lake_brienz_3.jpg" alt="Lake Brienz water sports" class="dest-img">
				</li>
			</ul>
		</div>
	</main>
	<footer>
		<div class="footer-content">
			<h3 style="color: #f9b537;">ISM6225</h3>
			<p>This Website has been created as a part of course project in ISM6225</p>
		</div>
		<div class="footer-bottom">
			<p>© 2023 Travel Cookie. All rights reserved.</p>
		</div>
</footer>
</body>
</html> 