<!DOCTYPE html>
<html>
    <head>
		<title>Lake Zurich</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style_city.css')}}">
    </head>
<body>
	{% include 'navbar.html' %}
	<main>
		<div class="container">
			<p>Lake Zurich is a beautiful lake located in Switzerland. It is surrounded by mountains and is a popular destination for tourists. There are many things to see and do at Lake Zurich, including:</p>
			<h2>Things to See and Do at Lake Zurich</h2>
			<ul class="destinations">
				<li>
					<h2>Boat Tour</h2>
					<p>One of the best ways to see Lake Zurich is to take a boat tour. Visitors can enjoy the stunning scenery and learn about the history and culture of the area. Boat tours are available throughout the day and can be booked at the lake.</p>
					<img src="{{ url_for('static', filename='images/lake_zurich_1.jpg ')}}"alt="Boat Tour on Lake Zurich" class="dest-img">
				</li>
				<li>
					<h2>Hiking</h2>
					<p>There are many hiking trails around Lake Zurich that offer stunning views of the lake and the surrounding mountains. Visitors can choose from a variety of trails that range in difficulty and length. Popular trails include the Lake Zurich Panorama Trail and the Etzel Trail.</p>
					<img src="{{ url_for('static', filename='images/lake_zurich_2.jpg')}}" alt="Hiking at Lake Zurich" class="dest-img">
				
                </li>
				<li>
					<h2>Swimming</h2>
					<p>Lake Zurich is a popular destination for swimming, especially during the summer months. Visitors can enjoy the clear waters of the lake and relax on the beaches. There are also many water sports available, including paddleboarding and kayaking.</p>
					<img src="{{ url_for('static', filename='images/lake_zurich_3.jpg')}}" alt="Swimming at Lake Zurich" class="dest-img">
				</li>
			</ul>
		</div>
	</main>
	{% include 'footer.html' %}
</body>
</html>