<!DOCTYPE html>
<html>
    <head>
		<title>Milan</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="../style_city.css">
    </head>
<body>
	<nav>
		<ul>
			<a href="../../index.html"><li class="logo"><img src="../../images/logo.jpg" width="50" height="50"><span>Travel</span> Cookie</li></a>
			<li><a href="../../index.html">Home</a></li>
			<li><a href="#">Destinations</a>
				<ul class="dropdown-menu">
					<li><a href="../Italy/Venice.html">Venice</a></li>
					<li><a href="../Switzerland/Geneva.html">Geneva</a></li>
					<li><a href="../Switzerland/intrerlaken.html">Intelaken</a></li>
					<li><a href="../Thailand/PHUKET.html">Phuket</a></li>
					<li><a href="../Thailand/CHAING_MAI.html">Chiang Mai</a></li>
					<li><a href="../Thailand/BANGKOK.html">Bangkok</a></li>
				</ul></li>
			<li><a href="../../traveltips.html">Travel Tips</a></li>
			<li><a href="../../aboutus.html">About Us</a></li>
			<li><a href="../../login.html">Login</a></li>
		</ul>
	</nav>
		
	<main>
		<div class="container">
			<p>Milan is a vibrant and modern city located in northern Italy. It is known for its fashion, design, and finance industries, as well as its stunning architecture and world-renowned museums. Some of the top things to see and do in Milan include:</p>
			<h2>Places to Visit in Milan</h2>
			<ul class="destinations">
				<li>
					<a href="Duomo_Milan.html"><h2>The Duomo di Milano</h2></a>
					<p>The Duomo di Milano is a stunning Gothic cathedral located in the heart of Milan. It is one of the largest cathedrals in the world and features incredible details, including over 3,000 statues and 135 spires. Visitors can climb to the top of the cathedral for breathtaking views of the city.</p>
					<img src="../../images/milano_duomo.jpg" alt="The Duomo di Milano" class="dest-img">
				</li>
				<li>
					<a href="THE GALLERIA VITTORIO EMANUELE II.html"><h2>The Galleria Vittorio Emanuele II</h2></a>
					<p>The Galleria Vittorio Emanuele II is a stunning shopping arcade located in the heart of Milan. It is one of the world's oldest shopping malls and features beautiful architecture, high-end shops, and restaurants. It is also home to the famous Campari Bar, where visitors can enjoy an aperitivo while taking in the stunning surroundings.</p>
					<img src="../../images/milan_galleria.jpeg" alt="The Galleria Vittorio Emanuele II" class="dest-img">
				</li>
				<li>
					<a href="the_last_supper.html"><h2>The Last Supper</h2></a>
					<p>The Last Supper is a world-famous painting by Leonardo da Vinci located in the Santa Maria delle Grazie church in Milan. It is one of the most important works of art in history and is a must-see for any art lover. Visitors should book tickets in advance to ensure they can view the painting.</p>
					<img src="../../images/milan_lastsupper.jpg" alt="The Last Supper" class="dest-img">
				</li>
			</ul>
		</div>
	</main>
	<footer>
		<div class="footer-content">
			<h3 style="color: #f9b537;">ISM6225</h3>
			<p>This Website has been created as a part of course project in ISM6225</p>
		</div>
		<div class="footer-bottom">
			<p>© 2023 Travel Cookie. All rights reserved.</p>
		</div>
</footer>
</body>
</html>




