<!DOCTYPE html>
<html>
    <head>
        <title>Night Bazaar - Chiang Mai</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style_city.css')}}">
    </head>
    <body>
        {% include 'navbar.html' %}
        <main>
            <div class="container">
                <p>Night Bazaar is a popular night market located in the heart of Chiang Mai, Thailand. It offers a wide range of goods, including clothing, handicrafts, and local food. Here are some of the things to see and do at Night Bazaar:</p>
                <h2>Things to See and Do at Night Bazaar</h2>
                <ul class="destinations">
                    <li>
                        <h2>Shop for Souvenirs</h2>
                        <p>Night Bazaar is known for its vast selection of goods, including unique handicrafts, clothing, and accessories. Visitors can browse the stalls and shops to find the perfect souvenir to take home.</p>
                        <img src="{{ url_for('static', filename='images/night_bazaar_1.jpg')}}" alt="Shopping at Night Bazaar" class="dest-img">
                    </li>
                    <li>
                        <h2>Sample Local Cuisine</h2>
                        <p>The market is also a great place to try local food and snacks. Visitors can find a variety of street food stalls offering traditional Thai dishes, such as pad Thai, mango sticky rice, and papaya salad.</p>
                        <img src="{{ url_for('static', filename='images/night_bazaar_2.jpg')}}" alt="Trying Local Food" class="dest-img">
                    </li>
                    <li>
                        <h2>Enjoy Live Performances</h2>
                        <p>Throughout the market, visitors can also enjoy live music performances and traditional Thai dance shows.</p>
                        <img src="{{ url_for('static', filename='images/night_bazaar_3.jpg')}}" alt="Live Performances" class="dest-img">
                    </li>
                </ul>
            </div>
        </main>
        {% include 'footer.html' %}
    </body>
</html>