<!DOCTYPE html>
<html>
    <head>
		<title>Old Town Geneva</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style_city.css')}}">
    </head>
<body>
	{% include 'navbar.html' %}
	<main>
		<div class="container">
			<p>Old Town Geneva is a charming neighborhood located in the heart of the city. It is known for its picturesque streets, historical landmarks, and beautiful architecture. There are many things to see and do in Old Town Geneva, including:</p>
			<h2>Things to See and Do in Old Town Geneva</h2>
			<ul class="destinations">
				<li>
					<h2>St. Pierre Cathedral</h2>
					<p>The St. Pierre Cathedral is one of the most iconic landmarks in Old Town Geneva. It is a beautiful cathedral with stunning views of the city from the top. Visitors can explore the interior of the cathedral and learn about its history and significance.</p>
					<img src="{{ url_for('static', filename='images/old_town_geneva_1.jpg')}}" alt="St. Pierre Cathedral" class="dest-img">
				</li>
				<li>
					<h2>Jet d'Eau</h2>
					<p>The Jet d'Eau is a famous landmark in Geneva and is located near Old Town. It is a large fountain that shoots water up to 140 meters in the air. Visitors can enjoy the stunning views of the fountain from the shore or take a boat tour to get a closer look.</p>
					<img src="{{ url_for('static', filename='images/old_town_geneva_2.jpg')}}" alt="Jet d'Eau" class="dest-img">
				
                </li>
				<li>
					<h2>Shopping and Dining</h2>
					<p>Old Town Geneva is home to many boutique shops and gourmet restaurants. Visitors can stroll along the charming streets and browse the unique shops, or enjoy a delicious meal at one of the many restaurants. Popular shopping destinations include Rue du Rhône and Place du Bourg-de-Four.</p>
					<img src="{{ url_for('static', filename='images/old_town_geneva_3.jpg')}}" alt="Shopping in Old Town Geneva" class="dest-img">
				</li>
			</ul>
		</div>
	</main>
	{% include 'footer.html' %}
</body>
</html>