<!DOCTYPE html>
<html>
    <head>
        <title>Phi Phi Islands - Paradise in Thailand</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style_city.css')}}">
    </head>
    <body>
        {% include 'navbar.html' %}
        <main>
            <div class="container">
                <p>Phi Phi Islands are a group of islands located in the Andaman Sea, off the coast of Thailand. Known for their crystal-clear waters, stunning beaches, and lush greenery, the islands are a popular destination for tourists from all over the world. Here are some of the things to see and do in Phi Phi Islands:</p>
                <h2>Things to See and Do in Phi Phi Islands</h2>
                <ul class="destinations">
                    <li>
                        <h2>Visit Maya Bay</h2>
                        <p>Maya Bay is a stunning beach located on the island of Phi Phi Leh. It gained worldwide fame after being featured in the movie "The Beach" starring Leonardo DiCaprio. Visitors can take a boat tour and spend a day exploring the bay and its surroundings.</p>
                        <img src="{{ url_for('static', filename='images/phi_phi_islands_1.jpg')}}" alt="Maya Bay" class="dest-img">
                    </li>
                    <li>
                        <h2>Take a Snorkeling Trip</h2>
                        <p>The waters around Phi Phi Islands are home to a diverse range of marine life, including colorful fish, sea turtles, and even reef sharks. Visitors can take a snorkeling trip to explore the underwater world and see these creatures up close.</p>
                        <img src="{{ url_for('static', filename='images/phi_phi_islands_2.jpg')}}" alt="Snorkeling in Phi Phi Islands" class="dest-img">
                    </li>
                    <li>
                        <h2>Hike to the Viewpoint</h2>
                        <p>The Phi Phi Islands offer breathtaking views from the top of their hills. Visitors can take a hike to the viewpoint and enjoy panoramic views of the islands and the Andaman Sea.</p>
                        <img src="{{ url_for('static', filename='images/phi_phi_islands_3.jpg')}}" alt="Viewpoint in Phi Phi Islands" class="dest-img">
                    </li>
                </ul>
            </div>
        </main>
        {% include 'footer.html' %}
    </body>
</html>
