<!DOCTYPE html>
<html>
    <head>
        <title>Phuket</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="../style_city.css">
    </head>
    <body>
        <nav>
            <ul>
                <a href="../../index.html"><li class="logo"><img src="../../images/logo.jpg" width="50" height="50"><span>Travel</span> Cookie</li></a>
                <li><a href="../../index.html">Home</a></li>
                <li><a href="#">Destinations</a>
                    <ul class="dropdown-menu">
                        <li><a href="../Italy/Venice.html">Venice</a></li>
                        <li><a href="../Switzerland/Geneva.html">Geneva</a></li>
                        <li><a href="../Switzerland/intrerlaken.html">Intelaken</a></li>
                        <li><a href="../Thailand/PHUKET.html">Phuket</a></li>
                        <li><a href="../Thailand/CHAING_MAI.html">Chiang Mai</a></li>
                        <li><a href="../Thailand/BANGKOK.html">Bangkok</a></li>
                    </ul></li>
                <li><a href="../../traveltips.html">Travel Tips</a></li>
                <li><a href="../../aboutus.html">About Us</a></li>
                <li><a href="../../login.html">Login</a></li>
            </ul>
        </nav>
        <main>
            <div class="container">
                <p>Phuket is a beautiful island located in southern Thailand, known for its stunning beaches, clear waters, and vibrant nightlife. Here are some of the top things to see and do in Phuket:</p>
                <h2>Places to Visit in Phuket</h2>
                <ul class="destinations">
                    <li>
                        <a href="phi_phi_island.html"><h2>The Phi Phi Islands</h2></a>
                        <p>The Phi Phi Islands are a group of six islands located just off the coast of Phuket. They are known for their beautiful beaches, clear waters, and stunning rock formations. Visitors can go snorkeling, diving, or take a boat tour to explore the islands.</p>
                        <img src="../../images/phuket_phi_phi.jpg" alt="Phi Phi Islands" class="dest-img">
                    </li>
                    <li>
                        <a href="big_budha.html"><h2>The Big Buddha</h2></a>
                        <p>The Big Buddha is a large statue located on top of a hill in Phuket. It is made of white marble and stands at 45 meters tall, making it one of the tallest Buddha statues in Thailand. Visitors can climb up to the top of the hill to see the statue up close and enjoy panoramic views of the island.</p>
                        <img src="../../images/phuket_big_buddha.jpg" alt="Big Buddha" class="dest-img">
                    </li>
                    <li>
                        <a href="bangla_road.html"><h2>Bangla Road</h2></a>
                        <p>Bangla Road is the main nightlife destination in Phuket, known for its bars, clubs, and live music. It is a lively and colorful street that comes alive at night and is a must-visit for anyone looking for a fun night out in Phuket.</p>
                        <img src="../../images/phuket_bangla_road.jpg" alt="Bangla Road" class="dest-img">
                    </li>
                </ul>
            </div>
        </main>
        <footer>
            <div class="footer-content">
                <h3 style="color: #f9b537;">ISM6225</h3>
                <p>This Website has been created as a part of course project in ISM6225</p>
            </div>
            <div class="footer-bottom">
                <p>© 2023 Travel Cookie. All rights reserved.</p>
            </div>
    </footer>
    </body>
</html>
