<!DOCTYPE html>
<html>
    <head>
		<title>Rialto Bridge - Venice</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style_city.css')}}">
    </head>
<body>
	{% include 'navbar.html' %}
	<main>
		<div class="container">
			<p>The Rialto Bridge is one of the most famous landmarks in Venice, Italy. The bridge spans the Grand Canal and is considered an architectural marvel. There are many reasons to visit the Rialto Bridge, including:</p>
			<h2>Things to See and Do at the Rialto Bridge</h2>
			<ul class="destinations">
				<li>
					<h2>Walk Across the Bridge</h2>
					<p>The Rialto Bridge is a pedestrian-only bridge, and walking across it is a must-do activity for visitors to Venice. From the bridge, visitors can enjoy panoramic views of the Grand Canal and the surrounding architecture.</p>
					<img src="{{ url_for('static', filename='images/rialto_1.jpg')}}" alt="Rialto Bridge" class="dest-img">
				</li>
				<li>
					<h2>Explore the Rialto Market</h2>
					<p>The Rialto Market is located near the bridge and is a bustling hub of activity. Visitors can explore the market and browse the various stalls selling fresh produce, seafood, and other local goods.</p>
					<img src="{{ url_for('static', filename='images/rialto_2.jpg')}}" alt="Rialto Market" class="dest-img">
                </li>
                <li>
                    <h2>Visit the Rialto Bridge Museum</h2>
                    <p>The Rialto Bridge Museum is located near the bridge and houses a collection of artifacts and artwork related to the history of the bridge. Visitors can learn about the construction of the bridge and its significance in the history of Venice.</p>
                    <img src="{{ url_for('static', filename='images/rialto_3.jpg')}}" alt="Rialto Bridge Museum" class="dest-img">
                </li>
            </ul>
        </div>
    </main>
	{% include 'footer.html' %}
</body>
</html>    