<!DOCTYPE html>
<html>
    <head>
		<title>Rome</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style_city.css')}}">
    </head>
<body>
	{% include 'navbar.html' %}
	<main>
		<div class="container">
			<p>Rome is the capital and largest city of Italy. It is known for its rich history, beautiful architecture, and delicious cuisine. There are many things to see and do in Rome, including:</p>
			<h2>Places to Visit in Rome</h2>
			<ul class="destinations">
				<li>
					<a href="{{ url_for('colosseum') }}"><h2>The Colosseum</h2></a>
					<p>The Colosseum, also known as the Flavian Amphitheatre, is an iconic symbol of Rome and a must-visit destination for any traveler to the city. Built in 80 AD, it was the largest amphitheater ever constructed and could hold up to 80,000 spectators.</p>
					<img src="{{ url_for('static', filename='images/rome_colo.jpg')}}" alt="Colosseum in Rome" class="dest-img">
				</li>
				<li>
					<a href="{{ url_for('PANTHEON') }}"><h2>The Pantheon</h2></a>
					<p>The Pantheon is one of the most impressive and well-preserved ancient buildings in Rome, and it's a must-see attraction for anyone visiting the city. Originally built as a temple to all the gods, it was later converted into a church, and it remains an important site of religious and cultural significance to this day.</p>
					<img src="{{ url_for('static', filename='images/rome_pantheon.jpg')}}" alt="Pantheon" class="dest-img">
				
                </li>
				<li>
					<a href="{{ url_for('TREVIFOUNTAIN') }}"><h2>Trevi Fountain</h2></a>
					<p>Rome's largest fountain, Fontana di Trevi is supplied by an aqueduct originally constructed by Agrippa, the great art patron of the first century BC, to bring water to his baths. The fountain was created for Pope Clement XII between 1732 and 1751 by Nicolò Salvi, and built against the rear wall of the palace of the Dukes of Poli</p>
					<img src="{{ url_for('static', filename='images/rome_trevi.jpg')}}" alt="trevi-fountain-1" class="dest-img">
				</li>
			</ul>
		</div>
	</main>
	{% include 'footer.html' %}
</body>
</html>