<!DOCTYPE html>
<html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
		<title>The Pantheon Rome</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style_city.css')}}">
    </head>
<body>
	{% include 'navbar.html' %}
	<main>
		<div class="container">
			<p>The Pantheon is a magnificent ancient temple located in the center of Rome. It is one of the best preserved buildings from ancient Rome and is a must-see for visitors to the city. Here's what you need to know about visiting the Pantheon:</p>
			<h2>Things to Know Before Visiting The Pantheon</h2>
			<ul class="destinations">
				<li>
					<h2>Learn About Its History</h2>
					<p>The Pantheon was built in 27 BC as a temple to all the gods of Ancient Rome. It was later converted into a church and has been in continuous use ever since. Take some time to learn about the history of the building before you visit, as it will help you appreciate its significance.</p>
					<img src="{{ url_for('static', filename='images/pantheon_1.jpg')}}" alt="The Pantheon" class="dest-img">
				</li>
				<li>
					<h2>Marvel at Its Dome</h2>
					<p>The Pantheon's dome is one of its most impressive features. It is the largest unreinforced concrete dome in the world and is a marvel of ancient engineering. Make sure you take some time to admire it from both the inside and outside of the building.</p>
					<img src="{{ url_for('static', filename='images/pantheon_2.jpg')}}" alt="The Pantheon's dome" class="dest-img">
				</li>
				<li>
					<h2>Visit Early or Late in the Day</h2>
					<p>The Pantheon can get very crowded during the day, especially during peak tourist season. To avoid the crowds and enjoy the building in a more peaceful atmosphere, consider visiting early in the morning or later in the evening.</p>
					<img src="{{ url_for('static', filename='images/pantheon_3.jpg')}}" alt="The Pantheon at sunset" class="dest-img">
				</li>
			</ul>
		</div>
	</main>
	{% include 'footer.html' %}
</body>
</html>