<!DOCTYPE html>
<html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
		<title>Galleria Vittorio Emanuele II</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style_city.css')}}">
    </head>
<body>
	{% include 'navbar.html' %}
	<main>
		<div class="container">
			<p>The Galleria Vittorio Emanuele II is a historic shopping arcade located in the heart of Milan. The Galleria is one of the oldest shopping malls in the world, and it is home to some of the most prestigious brands in fashion and design. There are many reasons to visit the Galleria Vittorio Emanuele II, including:</p>
			<h2>Things to See and Do at the Galleria Vittorio Emanuele II</h2>
			<ul class="destinations">
				<li>
					<h2>Shop at Luxury Boutiques</h2>
					<p>The Galleria Vittorio Emanuele II is known for its high-end fashion and luxury boutiques. Visitors can browse and shop at stores such as Prada, Louis Vuitton, and Gucci, among others.</p>
					<img src="{{ url_for('static', filename='images/galleria_1.jpg')}}" alt="Galleria Vittorio Emanuele II Shops" class="dest-img">
				</li>
				<li>
					<h2>Admire the Architecture</h2>
					<p>The Galleria Vittorio Emanuele II is a beautiful and historic building, featuring stunning architecture and intricate details. Visitors can admire the mosaic floors, the glass roof, and the ornate decorations.</p>
					<img src="{{ url_for('static', filename='images/galleria_2.jpg')}}" alt="Galleria Vittorio Emanuele II Architecture" class="dest-img">
				</li>
				<li>
					<h2>Enjoy a Meal or a Drink</h2>
					<p>The Galleria Vittorio Emanuele II is home to a variety of restaurants, cafes, and bars. Visitors can enjoy a meal or a drink while taking in the beautiful surroundings.</p>
					<img src="{{ url_for('static', filename='images/galleria_3.jpg')}}" alt="Galleria Vittorio Emanuele II Restaurants" class="dest-img">
				</li>
			</ul>
		</div>
	</main>
	{% include 'footer.html' %}
</body>
</html>



