<!DOCTYPE html>
<html>
    <head>
		<title>Milan</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style_city.css')}}">
    </head>
<body>
	{% include 'navbar.html' %}
	<main>
		<div class="container">
			<p>The Last Supper is a famous painting by Leonardo da Vinci located in Milan. It depicts the last supper of Jesus with his disciples before his crucifixion, and is considered one of the most iconic paintings in the world. Here's what you need to know about visiting The Last Supper:</p>
			<h2>Things to Know Before Visiting The Last Supper</h2>
			<ul class="destinations">
				<li>
					<h2>Book Your Tickets in Advance</h2>
					<p>Due to its popularity, tickets to see The Last Supper must be reserved in advance. It is recommended that you book your tickets as early as possible to ensure availability.</p>
					<img src="{{ url_for('static', filename='images/last_supper_1.jpg')}}" alt="The Last Supper painting" class="dest-img">
				</li>
				<li>
					<h2>Arrive Early</h2>
					<p>Visitors are required to arrive at the museum at least 15 minutes before their scheduled time slot. It is recommended that you arrive even earlier to allow for any unforeseen delays.</p>
					<img src="{{ url_for('static', filename='images/last_supper_2.jpeg')}}" alt="The Last Supper museum" class="dest-img">
				</li>
				<li>
					<h2>Follow the Rules</h2>
					<p>There are strict rules in place for viewing The Last Supper. Visitors are not allowed to touch the painting, take photographs, or speak loudly in the room. These rules are in place to protect the painting and ensure that it can be enjoyed by future generations.</p>
					<img src="{{ url_for('static', filename='images/last_supper_3.jpg')}}" alt="The Last Supper rules" class="dest-img">
				</li>
			</ul>
		</div>
	</main>
	{% include 'footer.html' %}
</body>
</html>