<!DOCTYPE html>
<html>
    <head>
		<title>Trevi Fountain Rome</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style_city.css')}}">
    </head>
<body>
	{% include 'navbar.html' %}
	<main>
		<div class="container">
			<p>The Trevi Fountain is a beautiful baroque fountain located in the heart of Rome. It is one of the most famous fountains in the world, and a popular tourist attraction. Here's what you need to know about visiting the Trevi Fountain:</p>
			<h2>Things to Know Before Visiting The Trevi Fountain</h2>
			<ul class="destinations">
				<li>
					<h2>Get Your Camera Ready</h2>
					<p>The Trevi Fountain is an incredibly photogenic spot, so be sure to bring your camera or smartphone to capture some great shots. Remember to respect the other visitors and do not obstruct their view or access to the fountain.</p>
					<img src="{{ url_for('static', filename='images/trevi_fountain_1.jpg')}}" alt="The Trevi Fountain" class="dest-img">
				</li>
				<li>
					<h2>Throw a Coin</h2>
					<p>According to legend, throwing a coin into the Trevi Fountain will ensure your return to Rome. Many visitors also believe that throwing a coin over their shoulder with their right hand while standing with their back to the fountain will bring them good luck.</p>
					<img src="{{ url_for('static', filename='images/trevi_fountain_2.jpg')}}" alt="Throwing a coin into the Trevi Fountain" class="dest-img">
				</li>
				<li>
					<h2>Visit in the Evening</h2>
					<p>The Trevi Fountain is open 24 hours a day, but it can get very crowded during the day. To avoid the crowds and enjoy a more peaceful atmosphere, consider visiting in the evening when the fountain is beautifully lit up.</p>
					<img src="{{ url_for('static', filename='images/trevi_fountain_3.jpg')}}" alt="The Trevi Fountain at night" class="dest-img">
				</li>
			</ul>
		</div>
	</main>
	{% include 'footer.html' %}
</body>
</html>