<!DOCTYPE html>
<html>
    <head>
		<title>Wat Arun, Bangkok</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style_city.css')}}">
    </head>
<body>
	{% include 'navbar.html' %}
    <main>
        <div class="container">
            <p>Wat Arun is a Buddhist temple complex located in the heart of Bangkok, Thailand. It is one of the largest and oldest temples in the city and is known for its stunning architecture, beautiful gardens, and the famous Reclining Buddha statue. Some of the top things to see and do in Wat Pho include:</p>
            <h2>Places to Visit in Wat Arun</h2>
            <ul class="destinations">
                <li>
                    <h2>The Reclining Buddha</h2>
                    <p>The Reclining Buddha is a 46-meter long golden statue located inside the main temple building. It is one of the largest Buddha statues in Thailand and is a must-see for any visitor to Wat Pho.</p>
                    <img src="{{ url_for('static', filename='images/bangkok_reclining_buddha.jpg')}}" alt="The Reclining Buddha" class="dest-img">
                </li>
                <li>
                    <h2>The Temple Complex</h2>
                    <p>The Wat Arun temple complex covers an area of 80,000 square meters and is home to over 1,000 Buddha images. Visitors can explore the beautiful gardens, stunning architecture, and various prayer halls throughout the complex.</p>
                    <img src="{{ url_for('static', filename='images/bangkok_watpho_temple.jpg')}}" alt="The Temple Complex" class="dest-img">
                </li>
                <li>
                    <h2>Thai Traditional Massage</h2>
                    <p>Wat Arun is also known as the birthplace of traditional Thai massage. Visitors can book a massage at the traditional massage school located within the temple complex and experience the ancient healing art for themselves.</p>
                    <img src="{{ url_for('static', filename='images/bangkok_thai_massage.jpg')}}" alt="Thai Traditional Massage" class="dest-img">
                </li>
            </ul>
        </div>
    </main>
	{% include 'footer.html' %}
</body>
</html>    