<!DOCTYPE html>
<html>
    <head>
		<title>Zurich</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style_city.css')}}">
    </head>
<body>
    {% include 'navbar.html' %}
    <main>
        <div class="container">
            <p>Zurich is a beautiful city located in Switzerland, known for its stunning natural scenery, rich history, and vibrant culture. Some of the top things to see and do in Zurich include:</p>
            <h2>Places to Visit in Zurich</h2>
            <ul class="destinations">
                <li>
                    <a href="{{ url_for('Grossmunster') }}"><h2>Grossmünster</h2></a>
                    <p>Grossmünster is a stunning Romanesque-style church located in the heart of Zurich. It is one of the city's most recognizable landmarks and features stunning stained-glass windows and a beautiful view of the city from its tower.</p>
                    <img src="{{ url_for('static', filename='images/zurich_grossmunster.jpg')}}" alt="Grossmünster" class="dest-img">
                </li>
                <li>
                    <a href="{{ url_for('lake_zurich') }}"><h2>Lake Zurich</h2></a>
                    <p>Lake Zurich is a beautiful lake located in the heart of the city. It is a popular spot for swimming, boating, and picnicking, and features stunning views of the surrounding mountains and countryside.</p>
                    <img src="{{ url_for('static', filename='images/zurich_lake.jpg')}}" alt="Lake Zurich" class="dest-img">
                </li>
                <li>
                    <a href="{{ url_for('BAHNHOFSTRASSE') }}"><h2>Bahnhofstrasse </h2></a>
                    <p>Bahnhofstrasse is one of the most famous shopping streets in the world, located in the heart of Zurich. It features high-end shops, luxury boutiques, and beautiful architecture, and is a must-visit for any shopping enthusiast.</p>
                    <img src="{{ url_for('static', filename='images/zurich_bahnhofstrasse.jpg')}}" alt="Bahnhofstrasse" class="dest-img">
                </li>
            </ul>
        </div>
    </main>
    {% include 'footer.html' %}
</body>
</html>    